{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'css/registration.css' %}" />
        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/product_detail.css' %}" />
        <link rel="stylesheet" href="{% static 'css/cart.css' %}">
        <link rel="stylesheet" href="{% static 'css/dashbord.css' %}">
        <link rel="stylesheet" href="{% static 'css/order-confirm.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/all_orders.css' %}">       
     
    </head>
    <body>
        <nav class="navbar navbar-expand-lg p-3">
            <div class="container-fluid">
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="{% url 'dashbord' %}"
                                >{% if user.first_name %} 
                                {{user.first_name.upper}}
                                {% else %}
                                {{user.email.upper}}
                                {% endif %}
                                </a
                            >
                        </li>

                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="{% url 'cart' %}"><i class="bi bi-cart ms-1" style="font-size: x-large;"><kbd>{{cart_counts}}</kbd> </i>Cart</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                        </li>

                        {% endif %}
                        
                    </ul>
                    <a class="navbar-brand text-white me-5" href="{% url 'home' %}">Home</a>
                </div>
            </div>
            <form action="{% url 'home' %}" method="get" class="d-flex search-box" role="search">
                <input class="form-control me-2" name="search-products" type="search" placeholder="Search Products" aria-label="Search" />
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </nav>

        <main class="main">{% block content %} {% endblock %}</main>

        <!-- Footer section -->
        <!-- Site footer -->
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <h6>About</h6>
                        <p class="text-justify">
                            ecommerce.com <i></i> An e-commerce website is one that allows people to buy and sell physical
                            goods, services, and digital products over the internet rather than at a brick-and-mortar
                            location. Through an e-commerce website, a business can process orders, accept payments, manage
                            shipping and logistics, and provide customer service.
                        </p>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Categories</h6>
                        <ul class="footer-links">
                            {% for c in category %}
                            <li><a href="{% url 'category_view' c.slug %}">{{c.name}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-xs-6 col-md-3">
                        <h6>Quick Links</h6>
                        <ul class="footer-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Contribute</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <hr />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="copyright-text">
                            Copyright &copy; 2023 All Rights Reserved by <a href="#">Akhil Krishna</a>.
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <ul class="social-icons">
                            <li>
                                <a class="facebook" href="{% url 'all-orders' %}"><i class="fa fa-facebook">Orders</i></a>
                            </li>
                            <li>
                                <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a>
                            </li>
                            <li>
                                <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"
        ></script>
        {% block script %}
        {% endblock %}
        
    </body>
</html>
