{% extends 'base/base.html' %} {% block title %}orders{% endblock %} 
{% block content %} {% load static %}

 <h4 class="text-center">Orders</h4>
<div class="orders-container">
    {% for order in orders %}
    <div class="each-order-container">
        <div class="product-img-container">
            {% if order.product_variant.product_color_variant.image1 %}
            <img src="{{order.product_variant.product_color_variant.image1.url}}" alt="">
            {% endif %}
        </div>
        <div class="product-order-details-container">
            <div class="product-name">{{order.product_variant}}</div>
            <h6 class="price-was">Rs. {{order.price_was}}</h6>
            <div class="product-quantity">Quantity : {{order.quantiy_was}}</div>
            
            <!-- <div class="order-address"><span>Address : </span>{{order.order_address.full_name}}, Mobile : {{order.order_address.mobile}}, PIN : {{order.order_address.pincode}}, {{order.order_address.address}}</div>
            <div class="ordered-date-time">
                {{order.ordered_date}}
            </div> -->

            <div class="payment-status mt-2">payment mode : 
                {{order.payment.payment_mode}}  
                {% if order.payment.razorpay_payment_status %}
                <span class=" ms-4">payment status :<span class="text-success"> {{order.payment.razorpay_payment_status}}</span></span>
                {% else %}
                {% endif %}
            </div><br>
            <div class="order-status">order status : {{order.status}}</div>
            <!-- {% if order.status != "Delivered" %}
            <div class="order-progress" >
                {% if order.status == "Pending" %}
                <div style="height: 10px; background-color: green; width: 1%;"></div>
                {% endif %}
                {% if order.status == "Packed" %}
                <div style="height: 10px; background-color: green; width: 10%;"></div>
                {% endif %}
                {% if order.status == "Shipped" %}
                <div style="height: 10px; background-color: green; width: 50%;"></div>
                {% endif %}
                {% if order.status == "Out For Delivery" %}
                <div style="height: 10px; background-color: green; width: 100%;"></div>
                {% endif %}
                {% if order.status == "Delivered" %}
                <div style="height: 20px; color: green; ">Delivered</div>
                {% endif %}
                
            </div>
            {% else %}
            <div  >
                {% if order.status == "Delivered" %}
                <div style="height: 20px; color: green; ">Delivered</div>
                {% endif %}
             </div>
             {% endif %} -->

        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}