{% extends 'base/base.html' %} {% block title %}order-confirm{% endblock %} 
{% block content %} {% load static %}


 <div class="address-payment-container">


    <div   id="my-form">
    <!-- address section starts -->
    <div class="address-form" id="delivery-address-container">
        <h5 class="bg-primary py-2 ps-4 mb-2 text-white" >Delivey Address</h5>
        {% if order_address %}

     {% for order_address in order_address %}

        <div class="address-container">
            <input onclick="selectingAddress(event)" name="address-selection" type="radio" value="{{order_address.id}}" required >
            <div class="each-address">
                <span class="address-name">{{order_address.full_name}}</span>
                <span class="order-mobile-num">{{order_address.mobile}}</span>
                <p>{{order_address.locality}}, 
                    {{order_address.address}}, 
                    {{order_address.city_district_town}},
                    {{order_address.state}},
                    {{order_address.landmark}}
                </p>
            </div>
            <span  class="address-edit-btn" onclick="editAddress(event)" >EDIT</span>
        </div>

        <!-- address edit section -->

        <div class="address-display-none">
            <form class="main-form" method="post" action="{% url 'address_creation' %}">
                <input type="text" name="address-id" value="{{order_address.id}}" hidden="true">
                {% csrf_token %}
                <div class="full-name">
                    <label for="fullname">Your name</label>
                    <input value="{{order_address.full_name}}" id="fullname" name="yourname" type="text" required >
                </div>
                <div class="mobile-number">
                    <label for="mobile">Mobile</label>
                    <input value="{{order_address.mobile}}" id="mobile" name="phone"  max="99999999999" type="number" required >
                </div>
                <div class="pin">
                    <label for="pincode">Pincode</label>
                    <input value="{{order_address.pincode}}" id="pincode" name="pincode" min="100000" max="999999" type="number" required >
                </div>
                <div class="locality-name">
                    <label for="locality">Locality</label>
                    <input value="{{order_address.locality}}" id="locality" name="locality" type="text" required >
                </div>
                <div class="address-full">
                    <label for="address">Address</label>
                    <textarea  id="address" name="address" type="text" required >
                    {{order_address.address}}
                        </textarea>
                </div>
                <div class="district-city">
                    <label for="district">City/District/Town</label>
                    <input value="{{order_address.city_district_town}}" id="district" name="district" type="text" required >
                </div>
                <div class="state-name">
                    <label for="state">State</label>
                    <input value="{{order_address.state}}" id="state" name="state" type="text" required >
                </div>
                <div class="main-landmark">
                    <label for="landmark">Landmark</label>
                    <input value="{{order_address.landmark}}" id="landmark" name="landmark" type="text" required >
                </div>
                <a id="create-form-back" href="{% url 'order-confirm' %}" >Back</a>

                    <button type="submit">Save address</button>
            </form> 
        </div>
       
        
        {% endfor %}

        <!-- new address adding button  -->
        <h5 class="btn btn-outline-dark mt-3" onclick="hideAddress()">Add new address</h5>

        <!-- address edit section ends -->

        
        {% else %}
        <h5 class="btn btn-outline-dark mt-3" onclick="hideAddress()">Add new address</h5>
        <!-- address create section ends -->

         {% endif %}

        <h5 class="bg-primary py-2 ps-4 mt-4 mb-2 text-white" >Payment Options</h5>
        <!-- <button type="submit" class="btn btn-outline-warning" id="rzp-button1">Pay with Razorpay</button> -->
        <!-- <button type="submit" class="btn btn-outline-primary" id="paypal-button1">{{paypal.render}}</button> -->

        <form action="{% url 'razorpay-success' request.user %}" method="POST">
             <input id="address-selection-payment" name="address-selected" value="val" type="text" hidden="true" >
            <script
                src="https://checkout.razorpay.com/v1/checkout.js"
                data-key="{{key}}"
                data-amount="{{payment.amount}}" 
                data-currency="{{payment.currency}}"
                data-order_id="{{payment.id}}"
                data-buttontext="Pay with Akhil"
                data-name="Ecomerce Akhil"
                data-description="Thank you for visit"
                data-image="https://example.com/your_logo.jpg"
                data-prefill.name="{request.user.first_name}"
                data-prefill.email="{{request.user.email}}"
                data-theme.color="#F37254"
            ></script>
            <input type="hidden" custom="Hidden Element" name="hidden"/>
        </form>
           
    </div>
    

</div>


        <!-- hidden address create section starts -->
        <div class="address-form hidden-create-address">
            <form class="main-form" method="post" action="{% url 'address_creation' %}">
                <input type="text" name="address-id" value="create" hidden="true">
                {% csrf_token %}
                <div class="full-name">
                    <label for="fullname">Your name</label>
                    <input id="fullname" name="yourname" type="text" required >
                </div>
                <div class="mobile-number">
                    <label for="address-mobile">Mobile</label>
                    <input id="address-mobile" maxlength="10" name="phone" type="text" required >
                </div>
                <div class="pin">
                    <label for="address-pincode">Pincode</label>
                    <input id="address-pincode" maxlength="6" name="pincode" type="text" required >
                </div>
                <div class="locality-name">
                    <label for="locality">Locality</label>
                    <input id="locality" name="locality" type="text" required >
                </div>
                <div class="address-full">
                    <label for="address">Address</label>
                    <textarea id="address" name="address" type="text" required >
                        </textarea>
                </div>
                <div class="district-city">
                    <label for="district">City/District/Town</label>
                    <input id="district" name="district" type="text" required >
                </div>
                <div class="state-name">
                    <label for="state">State</label>
                    <input id="state" name="state" type="text" required >
                </div>
                <div class="main-landmark">
                    <label for="landmark">Landmark</label>
                    <input id="landmark" name="landmark" type="text" required >
                </div>
                <a class="" id="create-form-back" href="{% url 'order-confirm' %}" >Back</a>
                <button type="submit">Save address</button>
            </form>
        </div>


        <!-- hidden address create section ends -->


     <!-- address section ends -->


    <!-- price detail total price starts -->

        <div class="price-details-container">
        
            <span class="price-detail-in-cart">PRICE DETAILS</span>
            <hr>
            <div class="orginal-price">
                {% if total_items > 1 %}
                <span>Price ({{total_items}} items)</span>
                {% else %} 
                <span>Price ({{total_items}} item)</span>
                {% endif %}
    
    
                <span>Rs.{{orginal_price}}</span> 
            </div>
            <div class="discount"><span>Discount</span>  <span class="text-success">-Rs.{{discount_price}}</span></div>
            <div class="delivery-charge"><span>Delivery charge</span>  <span class="text-success">Free</span></div>
            <hr>
            <div class="total-price"><span>Total Amount</span>  <span class="total-amount">Rs.{{total_price}}</span></div>
            <hr>
        </div>
    
        <!-- price details total price ends -->
    
    
 </div>


{% endblock %}

{% block script %}

<script src="{% static 'js/order-confirm.js' %}" ></script>


{% endblock %}