{% extends 'base/base.html' %} {% block title %}Home{% endblock %} {% block content %} {% load static %}

<div class="container-main">
    <div class="product-container">
        <div class="img-container">
            {% if product.product_color_variant.image1 %}
            <div class="images-container">
                <img id="image-tag"
                    src="{{product.product_color_variant.image1.url}}"
                    alt="{{product.product_color_variant.product.name}}"
                />
            </div>
            {% else %}
            <div class="images-container">
                <img
                    src="{{product.product_color_variant.product.image_main.url}}"
                    alt="{{product.product_color_variant.product.name}}"
                />
            </div>
            {% endif %}

            <div class="related-images">
                {% if product.product_color_variant.image1 %}
                <div  class=" image image-parent"><img class="img-list  actived-image" onmouseover="changeImage(event)" src="{{product.product_color_variant.image1.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image2 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image2.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image3 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image3.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image4 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image4.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image5 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image5.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image6 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image6.url}}" alt="" /></div>
                {% endif %} {% if product.product_color_variant.image7 %}
                <div  class=" image image-parent"><img class="img-list" onmouseover="changeImage(event)" src="{{product.product_color_variant.image7.url}}" alt="" /></div>
                {% endif %}
            </div>


               {% if in_cart %}
               <button class="add-to-cart"><a class="text-white" href="{% url 'cart' %}">Item already in cart (view)</a> </button>
                {% else %}
                <button class="add-to-cart"><a class="text-white" href="{% url 'add_to_cart' product.id %}">Add to cart</a> </button>
                {% endif %}
                <input id="prod-id" type="text" value="{{product.id}}" hidden="true">
                <input id="csrf-token" type="text" value="{{csrf_token}}" hidden="true" >
                {% if request.user.is_authenticated %}
                    {% if in_wishlist %}
                    <button class="add-to-wishlist" style="cursor: default;">Item allready in wishlist</button>
                    {% else  %}
                    <button id="wishlist-btn" class="add-to-wishlist">Add to wishlist</button>
                    {% endif %}
                {% else %}
                <button onclick="wishiListNotLoged()" class="add-to-wishlist">Add to wishlist</button>
                {% endif %}
            
        </div>

        





        <div class="details-container">
            <h5 class="product-name">
                {{product.product_color_variant.product.name}} ({{product.product_color_variant.color.name}},
                {{product.size.name}})
            </h5>

            {% if product.offer %}
            <h4 class="product-price">
                Rs.{{product.selling_price}}<span class="product-orginal-price"
                    >Rs.{{product.product_color_variant.product.orginal_price}}</span
                >
                <span class="product-offer">{{product.offer}}% off</span>
            </h4>
            {% else %}
            <h4 class="product-price">
                Rs.{{product.product_color_variant.product.orginal_price}}<span class="product-orginal-price"
                    >Rs.{{product.product_color_variant.product.orginal_price}}</span
                ><span class="product-offer">0% off</span>
            </h4>
            {% endif %}
            
            

            


            <div class="select-color">
                <h6>Select color : </h6>
                {% for pvc in product_color_variant %}
                 {% if pvc.product_color_variant.image1 %} 
                    {% if pvc.product_color_variant.color.name == product.product_color_variant.color.name %}
                <a href="{{pvc.get_url}}" id="actived-color" class="color">
                    <div class="color-image">
                        <img
                            src="{{pvc.product_color_variant.image1.url}}"
                            alt="{{pvc.product_color_variant.product.name}}"
                        />
                    </div>
                    <div class="color-name">{{pvc.product_color_variant.color.name}}</div>
                </a>
                    {% else %}
                <a href="{{pvc.get_url}}" class="color">
                    <div class="color-image">
                        <img
                            src="{{pvc.product_color_variant.image1.url}}"
                            alt="{{pvc.product_color_variant.product.name}}"
                        />
                    </div>
                    <div class="color-name">{{pvc.product_color_variant.color.name}}</div>
                </a>
                {% endif %} 
                {% else %} 
                {% if pvc.product_color_variant.color.name == product.product_color_variant.color.name %}
                <a href="{{pvc.get_url}}" id="actived-color" class="color">
                    <div class="color-image">
                        <img
                            src="{{pvc.product_color_variant.product.image_main.url}}"
                            alt="{{pvc.product_color_variant.product.name}}"
                        />
                    </div>
                    <div class="color-name">{{pvc.product_color_variant.color.name}}</div>
                </a>
                {% else %}
                <a href="{{pvc.get_url}}" class="color">
                    <div class="color-image">
                        <img
                            src="{{pvc.product_color_variant.product.image_main.url}}"
                            alt="{{pvc.product_color_variant.product.name}}"
                        />
                    </div>
                    <div class="color-name">{{pvc.product_color_variant.color.name}}</div>
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="select-size">
                <h6>Select size : </h6>

                {% for psv in product_size_variant %} {% if psv.size.name == product.size.name %}
                <a class="actived-variant" href="{{psv.get_url}}">
                    <div class="size">{{psv.size.name}}</div>
                </a>
                {% else %}
                <a href="{{psv.get_url}}">
                    <div class="size">{{psv.size.name}}</div>
                </a>
                {% endif %} {% endfor %}
            </div>
            <div class="product-description">
                <h3>Product Description</h3><br>
                {% autoescape off %}
                {{product.product_color_variant.product.description}}
                {% endautoescape %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/product_detail.js' %}"></script>
{% endblock %}