
.address-payment-container{
    display: flex;
    width: 90%;
    margin: auto;

}


.address-payment-container .address-form{
    width: 100%;
    box-shadow: 0 0 2px 1px #bdbdbd;
    background-color: white;
    padding: 45px 30px;
}

.address-form .main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.address-form .main-form div{
    margin-bottom: 35px;
    background-color: #efefef;
    border: solid 1px rgb(134, 133, 133);
    padding: 5px 10px;

}
.address-form .main-form div:hover{
    border: solid 1px rgb(13, 100, 199);
}

.address-form .main-form div label{
    display: block;
    top: 5px;
    font-size: 15px;
}
.address-form .main-form div input{
    background-color: #f3f2f2;
    border: none;
    outline: none;
}


.address-form .main-form .full-name,
.address-form .main-form .mobile-number,
.address-form .main-form .pin,
.address-form .main-form .locality-name,
.address-form .main-form .district-city,
.address-form .main-form .state-name,
.address-form .main-form .main-landmark{
    width: 45%;
}

.address-form .main-form .address-full textarea{
    width: 100%;
    height: 90px;
    background-color: #f3f2f2;
    border: none;
    outline: none;
}
.address-form .main-form .address-full{
    width: 100%;
    
}

.address-form .address-container{
    display: flex;
    align-items: flex-start;
    border: solid 1px rgb(184, 183, 183);
    background-color: #f3f2f2;

    padding: 15px;
    margin-bottom: 7px;

}

.address-form .address-container input{
    margin: 9px 20px 0px 0px;
}

.address-display-none{
    display: none;
    border: solid 1px grey;
    padding: 20px;
    margin-bottom: 20px;
}
.main-form button, .main-form span, .main-form a{
    height: 40px;
    padding: 0 15px;
    margin: 10px 30px 10px 10px;
    border: none;
    border-radius: 2px;
    background-color: rgb(222, 124, 44);
    color: white;
    transition: .3s;
}

.main-form a{
    background-color: rgb(33, 33, 33);
    padding-top:5px;
    text-decoration: none;
    cursor: pointer;

}
.main-form button:hover, .main-form span:hover{
    box-shadow: 0 0 4px 3px #bdbdbd;
}

.hide-address{
    display: block;
}

.address-edit-btn{
    cursor: pointer;
    color: rgb(16, 89, 226);
}

.address-payment-container .price-details-container{
    height: 330px;
}

.address-payment-container .hidden-create-address{
    display: none;
    width: 70%;
}

#my-form{
    width: 70%;
}

.razorpay-payment-button, 
.razorpay-payment-button-fake , 
.cash-on-devilery-btn,
.cash-on-devilery-btn-fake{
    border: solid 1px rgb(11, 94, 210) ;
    color: rgb(9, 80, 180);
    width: 40%;
    border-radius: 4px;
    padding: 6px 15px;
    margin-bottom: 10px;
    transition: .4s;

}
.razorpay-payment-button:hover,
.cash-on-devilery-btn:hover,
.razorpay-payment-button-fake:hover,
.cash-on-devilery-btn-fake:hover{
    background-color: rgb(9, 80, 180);
    color: white;
}

.payment-option{
    background-color: grey;
}